$green-police : #2ecc71; 
$green-card : rgba(46, 204, 113, .8);
$green-card1 : rgba(46, 204, 113, 1);
$green-icon1 : #3dc9b3;
$red-icon : #e74c3c;
$green-icon2 : #2ecc71;
$blue-icon : #2980b9;
$orange-icon : #f39c12;
$purple-icon : #9b59b6;
$white : #FFFFFF;
$yellow-btn : #f8da4a;
$black-text : #444;
$gray-light :#FAFAFA;
$blue-card : rgba(92, 184, 230, .8);
$blue-card1 : rgba(92, 184, 230, 1);

